<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create A New Camp </title>
</head>
<body>
    <form action="/camps/edit/<%= camp._id %>?_method=PUT" method="post">
        <div>
            <label for="title">Enter Title:</label>
            <input type="text" id="title" name="title" value="<%= camp.title %> ">
            <label for="price">Enter Price:</label>
            <input type="text" id="price" name="price" value="<%= camp.price %>">
            <label for="desc">Enter Description:</label>
            <input type="text" id="desc" name="description" value="<%= camp.description %>">
            <label for="location">Enter Location:</label>
            <input type="text" id="location" name="location" value="<%= camp.location %>">    
        </div>
        <button>Submit</button>
        
    </form>
</body>
</html>